<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>
        <%= pageTitle %>
    </title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="/styles/style.min.css" />

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

    <!-- Waves Effect -->
    <link rel="stylesheet" href="/plugin/waves/waves.min.css" />

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />

    <!-- Remodal -->
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal.css" />
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal-default-theme.css" />

    <!-- Color Picker -->
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/chat.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        /* Chat containers */
        .container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }

        /* Clear floats */
        .container::after {
            content: "";
            clear: both;
            display: table;
        }

        /* Style images */
        .container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }

        /* Style the right image */
        .container img.right {
            float: right;
            margin-left: 20px;
            margin-right: 0;
        }

        /* Style time text */
        .time-right {
            float: right;
            color: #aaa;
        }

        /* Style time text */
        .time-left {
            float: left;
            color: #999;
        }

        .chat-tile {
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 10px 0px #ccc;
            background-color: #ffffff;
            border: none;
            border-radius: 7rem;
            min-height: 6rem;
        }

        .chat-tile.darker {
            border-color: #ccc;
            background-color: #27a5dc;
            float: right;
            text-align: left;
        }

        .chat-tile.darker .msg {
            order: 1;
            color: #ffffff;
        }

        .chat-tile.darker img {
            order: 2;
            box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
        }

        .chat-tile .msg {
            margin-bottom: 0;
            width: 90%;
        }
    </style>
</head>

<body>
    <%- include('includes/sidebar.ejs') %>
        <!-- /.main-menu -->

        <%- include('includes/header.ejs') %>
            <div id="wrapper">
                <div class="main-content">
                    <div class="row row-inline-block small-spacing">
                        <div class="col-xs-12">
                            <div class="box-content" style="display: flex;">
                                <div class="col-xs-1">
                                    <img src="/images/<%= image %>" alt="Avatar"
                                        style="height: 5rem; width: 5rem; border-radius: 1rem;" class="right">
                                </div>
                                <div class="col-xs-11" style="display: flex; align-items: center;">
                                    <h4><%= name.toUpperCase() %></h4>
                                </div>
                            </div>
                            <!-- /.box-content -->
                        </div>
                        <div class="col-md-12">
                            <div class="box-content row" style="height: 50rem; overflow: auto;">
                                <% for(let n of data){ if(n.isAdmin){%>
                                    <div class="col-md-10 container darker chat-tile">
                                        <img src="/images/admin/admin-profile.png" alt="Avatar"
                                            style="height: 4rem; width: 4rem;" class="right">
                                        <p class="msg">
                                            <%= n.message %>
                                        </p>
                                    </div>
                                    <% } else{ %>
                                        <div class="col-md-10 container chat-tile">
                                            <img src="/images/<%= image %>" alt="Avatar"
                                                style="height: 4rem; width: 4rem;">
                                            <p class="msg">
                                                <%= n.message %>
                                            </p>
                                        </div>
                                        <% } }%>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="box-content">
                                <form method="POST" action="/post-admin-chat">
                                    <div class="col-xs-11">
                                        <input type="text" class="form-control" name="inputMessage" id="inputMessage"
                                            placeholder="Message..." />
                                            <input type="hidden" class="form-control" value="<%= id %>" name="inputChatId" id="inputChatId"
                                            placeholder="Message..." />
                                            <input type="hidden" class="form-control" value="true" name="inputType" id="inputType"
                                            placeholder="Message..." />
                                    </div>
                                    <div class="col-xs-1">
                                        <input type="submit" class="btn btn-primary waves-effect waves-light"
                                            value="Send">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-content -->
                        </div>
                    </div>
                    <!-- ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="/scripts/jquery.min.js"></script>
                    <script src="/scripts/modernizr.min.js"></script>
                    <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
                    <script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
                    <script src="/plugin/nprogress/nprogress.js"></script>
                    <script src="/plugin/sweet-alert/sweetalert.min.js"></script>
                    <script src="/plugin/waves/waves.min.js"></script>
                    <!-- Full Screen Plugin -->
                    <script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

                    <!-- Remodal -->
                    <script src="/plugin/modal/remodal/remodal.min.js"></script>

                    <script src="/scripts/main.min.js"></script>
                    <script src="/color-switcher/color-switcher.min.js"></script>
                    <script src="/js/purchase.js"></script>
                    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
                    <script src="/js/chat.js"></script>

</body>

</html>