<!DOCTYPE html>
<html lang="en">

<head>
	<title>
		<%= pageTitle %>
	</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/styles/style.min.css" />

	<!-- Material Design Icon -->
	<link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/plugin/waves/waves.min.css" />

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />

	<!-- iCheck -->
	<link rel="stylesheet" href="/plugin/iCheck/skins/square/blue.css" />

	<!-- Color Picker -->
	<link rel="stylesheet" href="/color-switcher/color-switcher.min.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
	<%- include('includes/sidebar.ejs') %>
		<!-- /.main-menu -->

		<%- include('includes/header.ejs') %>
			<div id="wrapper">
				<div class="main-content">
					<div class="row small-spacing">
						<div class="col-xs-12">
							<div class="box-content">
								<table id="example" class="table table-striped" style="width:100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Profile</th>
											<th>Name</th>
											<th>Message</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<% let count=1; for(let n of problem){ %>
											<tr>
												<td>
													<%= count %>
												</td>
												<td><img src="/images/<%= n.image %>"
														style="vertical-align: middle;width: 50px;height: 50px;border-radius: 50%;">
												</td>
												<td><a href="/get-chat-details/<%= n.id %>"></a>
														<%= n.name.toUpperCase() %>
													</a></td>
												<td></td>
												<td>5 mins ago</td>
											</tr>
											<%count++; } %>
									</tbody>
								</table>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-xs-12 -->
					</div>
					<!-- /.row small-spacing -->
					<%- include('includes/footer.ejs') %>
				</div>
				<!-- /.main-content -->
			</div>
			<!-- ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="./assets/scripts/jquery.min.js"></script>
			<script src="./assets/scripts/modernizr.min.js"></script>
			<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
			<script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
			<script src="/plugin/nprogress/nprogress.js"></script>
			<script src="/plugin/sweet-alert/sweetalert.min.js"></script>
			<script src="/plugin/waves/waves.min.js"></script>
			<!-- Full Screen Plugin -->
			<script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

			<!-- iCheck -->
			<script src="/plugin/iCheck/icheck.min.js"></script>
			<script src="./assets/scripts/mailbox.init.min.js"></script>

			<script src="./assets/scripts/main.min.js"></script>
			<script src="/color-switcher/color-switcher.min.js"></script>

</body>

</html>