<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>
		<%= pageTitle %>
	</title>

	<!-- Main Styles -->
	<link rel="stylesheet" href="/styles/style.min.css" />

	<!-- Material Design Icon -->
	<link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

	<!-- mCustomScrollbar -->
	<link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

	<!-- Waves Effect -->
	<link rel="stylesheet" href="/plugin/waves/waves.min.css" />

	<!-- Sweet Alert -->
	<link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />

	<!-- Percent Circle -->
	<link rel="stylesheet" href="/plugin/percircle/css/percircle.css" />

	<!-- Chartist Chart -->
	<link rel="stylesheet" href="/plugin/chart/chartist/chartist.min.css" />

	<!-- FullCalendar -->
	<link rel="stylesheet" href="/plugin/fullcalendar/fullcalendar.min.css" />
	<link rel="stylesheet" href="/plugin/fullcalendar/fullcalendar.print.css" media='print' />

	<!-- Color Picker -->
	<link rel="stylesheet" href="/color-switcher/color-switcher.min.css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
	.rajan {
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		border-radius: 5px;
	}

	.rajan:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	}

	.small-rajan {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
	}

	.small-rajan:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	}

	.avatar {
		vertical-align: middle;
		width: 50px;
		height: 50px;
		border-radius: 50%;
	}

	.description {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.hclass:hover {
		box-shadow: 0 1px 1px 0 rgba(196, 11, 11, 0.2);
	}
</style>

<body>
	<%- include('includes/sidebar.ejs') %>
		<!-- /.main-menu -->
		<%- include('includes/header.ejs') %>
			<!-- /.fixed-navbar -->
			<div id="wrapper">
				<div class="main-content">
					<div class="row small-spacing">
						<div class="col-sm-6 col-lg-3 col-xs-12">
							<div class="box-content rajan">
								<h4 class="box-title text-orange">Total Users</h4>
								<!-- /.dropdown js__dropdown -->
								<div class="content widget-stat">
									<div class="left-content">
										<h2 class="counter text-orange" style="text-align: left;">
											<%= totalMale %>
										</h2>
										<p class="text text-orange"
											style="display: block; text-align: left; margin-bottom: 0;">Male </p>
										<h2 class="counter text-orange" style="text-align: left;">
											<%= totalFemale %>
										</h2>
										<p class="text text-orange"
											style="display: block; text-align: left; margin-bottom: 0;">Female </p>
										<h2 class="counter text-success" style="text-align: left;">
											&nbsp;</h2>
										<p class="text text-success"
											style="display: block; text-align: left; margin-bottom: 0;">&nbsp;</p>
									</div>
									<!-- /#traffic-sparkline-chart-3 -->
									<div class="right-content">
										<h2 class="counter text-orange">
											<%= total %>
										</h2>
										<!-- /.counter -->
										<p class="text text-orange">Total</p>
										<!-- /.text -->
									</div>
									<!-- .right-content -->
								</div>
								<!-- /.content widget-stat -->
							</div>
							<!-- /.box-content -->
						</div>

						<div class="col-sm-6 col-lg-3 col-xs-12">
							<div class="box-content rajan">
								<h4 class="box-title text-success">Active Users</h4>
								<!-- /.dropdown js__dropdown -->
								<div class="content widget-stat">
									<div class="left-content">
										<h2 class="counter text-success" style="text-align: left;">
											<%= totalActiveMale %>
										</h2>
										<p class="text text-success"
											style="display: block; text-align: left; margin-bottom: 0;">Male </p>

										<h2 class="counter text-success" style="text-align: left;">
											<%= totalActiveFemale %>
										</h2>
										<p class="text text-success"
											style="display: block; text-align: left; margin-bottom: 0;">Female </p>
										<h2 class="counter text-success" style="text-align: left;">
											&nbsp;</h2>
										<p class="text text-success"
											style="display: block; text-align: left; margin-bottom: 0;">&nbsp;</p>
									</div>
									<!-- /#traffic-sparkline-chart-2 -->
									<div class="right-content">
										<h2 class="counter text-success">
											<%= totalActive %>
										</h2>
										<!-- /.counter -->
										<p class="text text-success">Users</p>
										<!-- /.text -->
									</div>
									<!-- .right-content -->
								</div>
								<!-- /.content widget-stat -->
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-sm-6 col-lg-3 col-xs-12 -->
						<div class="col-sm-6 col-lg-3 col-xs-12">
							<div class="box-content rajan">
								<h4 class="box-title text-info">Matched User</h4>
								<!-- /.dropdown js__dropdown -->
								<div class="content widget-stat">
									<div class="left-content">
										<div>
											<h2 class="counter text-info" style="text-align: left;">
												<%= totalActiveMale %>
											</h2>
											<p class="text text-info"
												style="display: block; text-align: left; margin-bottom: 0;">Male -
												Female</p>
										</div>
										<div>
											<h2 class="counter text-info" style="text-align: left;">
												<%= totalActiveFemale %>
											</h2>
											<p class="text text-info"
												style="display: block; text-align: left; margin-bottom: 0;">Male - Male
											</p>
										</div>
										<div>
											<h2 class="counter text-info" style="text-align: left;">
												<%= totalActiveFemale %>
											</h2>
											<p class="text text-info margin-bottom: 0;"
												style="display: block; text-align: left;  margin-bottom: 0;">Female -
												Female</p>
										</div>
									</div>
									<!-- /#traffic-sparkline-chart-1 -->
									<div class="right-content">
										<h2 class="counter text-info">278</h2>
										<!-- /.counter -->
										<p class="text text-info">Users</p>
										<!-- /.text -->
									</div>
									<!-- .right-content -->
								</div>
								<!-- /.content widget-stat -->
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-sm-6 col-lg-3 col-xs-12 -->


						<!-- /.col-lg-4 col-xs-12 -->

						<div class="col-sm-6 col-lg-3 col-xs-12">
							<div class="box-content rajan">
								<h4 class="box-title text-orange" style="font-size:1.6rem ;">Subscription</h4>
								<!-- /.box-title -->
								<div class="content widget-stat">
									<div class="left-content ">
										<h2 class="counter text-orange" style="text-align: left;">
											<%= totalActiveMale %>
										</h2>
										<p class="text text-orange"
											style="display: block; text-align: left; margin-bottom: 0;">Male </p>
										<h2 class="counter text-orange" style="text-align: left;">
											<%= totalActiveFemale %>
										</h2>
										<p class="text text-orange"
											style="display: block; text-align: left; margin-bottom: 0;">Female </p>
										<h2 class="counter text-success" style="text-align: left;">
											&nbsp;</h2>
										<p class="text text-success"
											style="display: block; text-align: left; margin-bottom: 0;">&nbsp;</p>
									</div>
									<!-- /#traffic-sparkline-chart-3 -->
									<div class="right-content">
										<h2 class="counter text-orange">235</h2>
										<!-- /.counter -->
										<p class="text text-orange">Purchase</p>
										<!-- /.text -->
									</div>
									<!-- .right-content -->
								</div>
								<!-- /.content widget-stat -->
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-sm-6 col-lg-3 col-xs-12 -->
					</div>
					<!-- .row -->
					<div class="row small-spacing">
						<div class="col-lg-3 col-md-6 col-xs-12">
							<div class="box-content bg-success text-white row justify-content-between small-rajan">
								<div class="statistics-box with-icon col-md-6 "
									style="padding-left: 0; text-align: left;">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Today</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
								<div class="statistics-box with-icon col-md-6" style="padding-left: 0; ">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Yesterday</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-lg-3 col-md-6 col-xs-12 -->
						<div class="col-lg-3 col-md-6 col-xs-12">
							<div class="box-content bg-info text-white small-rajan">
								<div class="statistics-box with-icon col-md-6"
									style="padding-left: 0; text-align: left;">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Today</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
								<div class="statistics-box with-icon col-md-6" style="padding-left: 0; ">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Yesterday</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-lg-3 col-md-6 col-xs-12 -->
						<div class="col-lg-3 col-md-6 col-xs-12">
							<div class="box-content bg-danger text-white small-rajan">
								<div class="statistics-box with-icon col-md-6"
									style="padding-left: 0; text-align: left;">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Today</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
								<div class="statistics-box with-icon col-md-6" style="padding-left: 0; ">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Yesterday</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-lg-3 col-md-6 col-xs-12 -->
						<div class="col-lg-3 col-md-6 col-xs-12">
							<div class="box-content bg-warning text-white small-rajan">
								<div class="statistics-box with-icon col-md-6"
									style="padding-left: 0; text-align: left;">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Today</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: left;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: left; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
								<div class="statistics-box with-icon col-md-6" style="padding-left: 0; ">
									<p class="text text-white"
										style="font-size: 2rem;font-weight: bold;padding-bottom: 1rem;">Yesterday</p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Total </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem; padding-bottom: 1rem;">
										Male </p>
									<h1 class="counter" style="font-size:1.5rem ;text-align: right;">
										<%= todayTotal %>
									</h1>
									<p class="text text-white"
										style="display: block; text-align: right; margin-bottom: 0;font-size: 1.5rem;">
										Female </p>
								</div>
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-lg-3 col-md-6 col-xs-12 -->
					</div>
					<!-- .row -->

					<div class="row small-spacing">
						<div class="col-lg-4 col-xs-12">
							<div class="box-content">
								<h4 class="box-title">Latest Users</h4>
								<!-- /.box-title -->
								<div class="review-list">
									<% function timeSince(date) { 
											var seconds=Math.floor((new Date() - date) / 1000);
											var interval=seconds / 31536000; if (interval> 1) {
											return Math.floor(interval) + " years";
											}
											interval = seconds / 2592000;
											if (interval > 1) {
											return Math.floor(interval) + " months";
											}
											interval = seconds / 86400;
											if (interval > 1) {
											return Math.floor(interval) + " days";
											}
											interval = seconds / 3600;
											if (interval > 1) {
											return Math.floor(interval) + " hours";
											}
											interval = seconds / 60;
											if (interval > 1) {
											return Math.floor(interval) + " minutes";
											}
											return Math.floor(seconds) + " seconds";
										}
										for(let n of latestUser){ %>
											<a  href="/user-detail/<%= n._id %>" style="color: black;">
										<div class="review-item hclass" >
											<div class="top">
												<img class="avatar" src="/images/<%= n.user_image %>">
												<div class="name" style="padding-left: 1rem;">
													<%= n.user_name.toUpperCase() %>
												</div>
												<!-- /.name -->
												<div class="date" style="text-align: left;"><% let x = timeSince(n.createdAt) %><%= x %> ago</div>
												<!-- /.date -->
											</div>
											<!-- /.top -->
											<div class="desc description">
												<%= n.user_about %>
											</div>
											<!-- /.desc -->
										</div>
									</a>
										<% } %>
											<!-- /.review-item -->
								</div>
								<!-- /.review-list -->
							</div>
							<!-- /.box-content -->
						</div>
						<div class="col-lg-4 col-xs-12">
							<div class="box-content">
								<h4 class="box-title">Subscribed Users</h4>
								<!-- /.box-title -->
								<div class="review-list">
									<% function timeSince(date) { 
											var seconds=Math.floor((new Date() - date) / 1000);
											var interval=seconds / 31536000; if (interval> 1) {
											return Math.floor(interval) + " years";
											}
											interval = seconds / 2592000;
											if (interval > 1) {
											return Math.floor(interval) + " months";
											}
											interval = seconds / 86400;
											if (interval > 1) {
											return Math.floor(interval) + " days";
											}
											interval = seconds / 3600;
											if (interval > 1) {
											return Math.floor(interval) + " hours";
											}
											interval = seconds / 60;
											if (interval > 1) {
											return Math.floor(interval) + " minutes";
											}
											return Math.floor(seconds) + " seconds";
										}
										for(let n of latestUser){ %>
											<a  href="/user-detail/<%= n._id %>" style="color: black;">
										<div class="review-item hclass" >
											<div class="top">
												<img class="avatar" src="/images/<%= n.user_image %>">
												<div class="name" style="padding-left: 1rem;">
													<%= n.user_name.toUpperCase() %>
												</div>
												<!-- /.name -->
												<div class="date" style="text-align: left;"><% let x = timeSince(n.createdAt) %><%= x %> ago</div>
												<!-- /.date -->
											</div>
											<!-- /.top -->
											<div class="desc description">
												<%= n.user_about %>
											</div>
											<!-- /.desc -->
										</div>
									</a>
										<% } %>
											<!-- /.review-item -->
								</div>
								<!-- /.review-list -->
							</div>
							<!-- /.box-content -->
						</div>
						<div class="col-lg-4 col-xs-12">
							<div class="box-content">
								<h4 class="box-title">Latest Sub Users</h4>
								<!-- /.box-title -->
								<div class="review-list">
									<% function timeSince(date) { 
											var seconds=Math.floor((new Date() - date) / 1000);
											var interval=seconds / 31536000; if (interval> 1) {
											return Math.floor(interval) + " years";
											}
											interval = seconds / 2592000;
											if (interval > 1) {
											return Math.floor(interval) + " months";
											}
											interval = seconds / 86400;
											if (interval > 1) {
											return Math.floor(interval) + " days";
											}
											interval = seconds / 3600;
											if (interval > 1) {
											return Math.floor(interval) + " hours";
											}
											interval = seconds / 60;
											if (interval > 1) {
											return Math.floor(interval) + " minutes";
											}
											return Math.floor(seconds) + " seconds";
										}
										for(let n of latestUser){ %>
											<a  href="/user-detail/<%= n._id %>" style="color: black;">
										<div class="review-item hclass" >
											<div class="top">
												<img class="avatar" src="/images/<%= n.user_image %>">
												<div class="name" style="padding-left: 1rem;">
													<%= n.user_name.toUpperCase() %>
												</div>
												<!-- /.name -->
												<div class="date" style="text-align: left;"><% let x = timeSince(n.createdAt) %><%= x %> ago</div>
												<!-- /.date -->
											</div>
											<!-- /.top -->
											<div class="desc description">
												<%= n.user_about %>
											</div>
											<!-- /.desc -->
										</div>
									</a>
										<% } %>
											<!-- /.review-item -->
								</div>
								<!-- /.review-list -->
							</div>
							<!-- /.box-content -->
						</div>
						<!-- /.col-lg-4 col-xs-12 -->
					</div>
					
					<!-- /.row -->
					<%- include('includes/footer.ejs') %>
				</div>
				<!-- /.main-content -->
			</div>
			<!--/#wrapper -->
			<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
			<!-- 
	================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="/scripts/jquery.min.js"></script>
			<script src="/scripts/modernizr.min.js"></script>
			<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
			<script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
			<script src="/plugin/nprogress/nprogress.js"></script>
			<script src="/plugin/sweet-alert/sweetalert.min.js"></script>
			<script src="/plugin/waves/waves.min.js"></script>
			<!-- Full Screen Plugin -->
			<script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

			<!-- Google Chart -->
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

			<!-- chart.js Chart -->
			<script src="/plugin/chart/chartjs/Chart.bundle.min.js"></script>
			<script src="/scripts/chart.chartjs.init.min.js"></script>

			<!-- FullCalendar -->
			<script src="/plugin/moment/moment.js"></script>
			<script src="/plugin/fullcalendar/fullcalendar.min.js"></script>
			<script src="/scripts/fullcalendar.init.js"></script>

			<!-- Sparkline Chart -->
			<script src="/plugin/chart/sparkline/jquery.sparkline.min.js"></script>
			<script src="/scripts/chart.sparkline.init.min.js"></script>

			<script src="/scripts/main.min.js"></script>
			<script src="/color-switcher/color-switcher.min.js"></script>
</body>

</html>