<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>
        <%= pageTitle %>
    </title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="/styles/style.min.css" />

    <!-- Material Design Icon -->
    <link rel="stylesheet" href="/fonts/material-design/css/materialdesignicons.css" />

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" />

    <!-- Waves Effect -->
    <link rel="stylesheet" href="/plugin/waves/waves.min.css" />

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="/plugin/sweet-alert/sweetalert.css" />

    <!-- Remodal -->
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal.css" />
    <link rel="stylesheet" href="/plugin/modal/remodal/remodal-default-theme.css" />

    <!-- Color Picker -->
    <link rel="stylesheet" href="/color-switcher/color-switcher.min.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <%- include('includes/sidebar.ejs') %>
        <!-- /.main-menu -->

        <%- include('includes/header.ejs') %>

            <div id="wrapper">
                <div class="main-content">
                    <div class="row row-inline-block small-spacing">
                        <div class="col-xs-12">
                            <div class="box-content">
                                <button type="button" data-remodal-target="remodal"
                                    class="btn btn-primary waves-effect waves-light">Send Notification</button>
                            </div>
                            <!-- /.box-content -->
                        </div>
                        <div class="col-xs-12">
                            <div class="box-content">
                                <h4 class="box-title">Notifications</h4>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Image</th>
                                            <th>Title</th>
                                            <th>Body</th>
                                            <th>Type</th>
                                            <th>Recipent</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let count=1; for (let d of data) {%>
                                            <tr>
                                                <th scope="row">
                                                    <%= count %>
                                                </th>
                                                <td>
                                                    <span class="avatar"><img style="height: 4.5%;" src="/images/<%= d.image %>" alt="No image" /></span>
                                                </td>
                                                <td>
                                                    <%= d.title %>
                                                </td>
                                                <td>
                                                    <%= d.body %>
                                                </td>
                                                <td>
                                                    <%= d.type.toUpperCase() %>
                                                </td>
                                                <td>
                                                    <% if(d.sendto=="individual"){%>
                                                        <%=d.name%>
                                                    <% }else{ %>
                                                        <%= d.sendto.toUpperCase() %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                            <% count++; } %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-content -->
                        </div>
                        <!-- /.col-xs-12 -->
                    </div>
                    <!-- /.row row-inline-block small-spacing -->
                    <%- include('includes/footer.ejs') %>
                </div>
                <!-- /.main-content -->
            </div>

            <div class="remodal" data-remodal-id="remodal" role="dialog" aria-labelledby="modal1Title"
                aria-describedby="modal1Desc">
                <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
                <div class="remodal-content">
                    <h2 id="modal1Title">Send Notification</h2>
                    <p id="modal1Desc">
                    <div class="col-xs-12">
                        <div class="box-content card white">
                            <div class="card-content">
                                <form method="POST" action="/send-notification" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="exampleinputTitle">Title</label>
                                        <input required type="text" class="form-control" name="inputTitle" id="inputTitle"
                                            placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleinputBody">Body</label>
                                        <input required type="text" class="form-control" name="inputBody" id="inputBody"
                                            placeholder="Body">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleimage">Image</label>
                                        <input type="file" class="form-control" name="image" id="image"
                                            placeholder="Enter Country Code">
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-2" style="position: absolute; text-align: left;"><label for="exampleimage">Type:</label></div>
                                        <input type="radio" id="type" name="type" value="email" checked> Email &nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="type" name="type" value="app notification" > App Notification
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-2" style="position: absolute; text-align: left;"><label for="exampleimage">Send To:</label></div>
                                        <input type="radio" id="sendto" name="sendto" value="all" checked> All User &nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="sendto" name="sendto" value="authorised" > Authorised User &nbsp;&nbsp;&nbsp;
                                        <input type="radio" id="sendto" name="sendto" value="subscribe" > Subscribed User
                                    </div>
                                    <button type="submit" class="remodal-confirm">Submit </button>
                                    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                                </form>
                            </div>
                            <!-- /.card-content -->
                        </div>
                        <!-- /.box-content -->
                    </div>
                    </p>
                </div>
            </div>
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
		<script src="assets/script/html5shiv.min.js"></script>
		<script src="assets/script/respond.min.js"></script>
	<![endif]-->
            <!-- 
	================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="/scripts/jquery.min.js"></script>
            <script src="/scripts/modernizr.min.js"></script>
            <script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
            <script src="/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="/plugin/nprogress/nprogress.js"></script>
            <script src="/plugin/sweet-alert/sweetalert.min.js"></script>
            <script src="/plugin/waves/waves.min.js"></script>
            <!-- Full Screen Plugin -->
            <script src="/plugin/fullscreen/jquery.fullscreen-min.js"></script>

            <!-- Remodal -->
            <script src="/plugin/modal/remodal/remodal.min.js"></script>

            <script src="/scripts/main.min.js"></script>
            <script src="/color-switcher/color-switcher.min.js"></script>
            <script src="/js/country.js"></script>
</body>

</html>